#contact>div{
  display:grid;
  grid-template-columns:1fr 3fr;
  height:300px;

  border-top: 1px solid rgb(140,140,140, 0.3);

  
  >div{
    max-height:80px;
    margin:50px;
  }
  >.i1{
  
  }

  >.i2{
    height:100%;
    display:grid;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    row-gap:15px;
    

    >.buttonCont{
      display:flex;
      gap:20px;
    }

    >.copy{
    align-content:center; 
    margin-top:20px;   
    }
  }

}
