
nav{
    z-index: 11;
    width:99vw;
    height: 80px;

    display: flex;
    justify-content: center;

    



    .container{
        width: 99vw;
        height: 100%;
        padding:0px 5vw 0px 5vw;

        display: flex;
        justify-content: start;
        align-items: center;

        background-color: rgba(0, 0, 0, 0.9);

        border-radius: 0px 0px 20px 20px;

        
        

        >div{
            height: 90%;
            align-content: center;
        }

    }

    .name{
        height: 80px;
        font-weight: 700;
        font-size: 28px;
    }

    .buttons{
        margin-left: auto;

        display: flex;
        align-items: center;
        gap:10px;

        background-color: rgba(0, 0, 0);
        
        Button{
            font-size: 18px;
            padding: 20px 10px 20px 10px;
        }
    }


    @media(max-width: 664px){
        .buttons{
            gap:0px;
            >Button{
            font-size: 3vw;
            }
        }
    }

}

